<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="site/css/style.css">
</head>
<body>
    <!--Templating Engine-->
    <h1>{{title}}</h1>
    <!--HTML code-->
   <img src="site/images/skimountain.jpg" alt="skimountain"> 
</body>
</html>